body {
    background: rgb(211, 56, 219);
    background: linear-gradient(90deg, rgba(211, 56, 219, 0.9682247899159664) 0%, rgba(155, 188, 193, 1) 0%);
}

.CentradoItems {
    text-align: center;
}

.sombreado {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}